@page "/register"
@rendermode InteractiveWebAssembly
@inject IAuthService AuthService
@attribute [Authorize]

<h3>Register</h3>

<div class="row">
    <div class="col-4">
        @if (isSubmitSuccessful is bool success)
        {
            <div class="alert @(success ? "alert-success" : "alert-error")" role="alert">
                Registration @(success ? "successful" : "failed")!
            </div>
        }

        <EditForm Model="@Model" OnValidSubmit="Submit">
            <DataAnnotationsValidator />

            <div class="form-group">
                <InputText @bind-Value="Model!.Email" placeholder="Email" class="form-control mb-3" />
                <ValidationMessage For="@(() => Model.Email)" />
            </div>

            <div class="form-group">
                <InputText type="password" @bind-Value="Model.Password" placeholder="Password" class="form-control mb-3" />
                <ValidationMessage For="@(() => Model.Password)" />
            </div>

            <div class="form-group">
                <InputText type="password" @bind-Value="Model.ConfirmPassword" placeholder="Confirm password" class="form-control mb-3" />
                <ValidationMessage For="@(() => Model.ConfirmPassword)" />
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </EditForm>
    </div>
</div>

@code {
    [SupplyParameterFromForm]
    public RegisterModel? Model { get; set; }

    private bool? isSubmitSuccessful;

    protected override void OnInitialized() => Model ??= new();

    private async Task Submit()
    {
        isSubmitSuccessful = await AuthService.RegisterAsync(Model!);
    }
}
